html{
    background-color: #26495c;
    line-height: normal;
}

header{
    border: solid 2px black;
    background-color: #c4a35a;
    margin-bottom: 1%;
}

main{
    display: flex;
    margin-top: 1%;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    margin: 0;
    padding: 0;
}

section{
    margin:1%;
    margin-right: 10%;
    display: flex;
    justify-content: left;
}

details > summary {
    padding: 4px;
    width: 200px;
    background-color: #c4a35a;
    border: none;
    box-shadow: 2px 2px 2px #000000;
    cursor: pointer;
  }
  
details{
    justify-content: space-around;
    margin: 0;
    width: 208px;
    padding: 0;
    overflow-wrap: break-word;

}

ol{
    list-style: none;
   
}

ul{
    list-style:disc;
}

img{
   height: 10%;
   width: 10%;
}

article{
    margin-top: 7%;
    color: white;
}

footer{
    border: solid 2px black;
    background-color: #c4a35a;
    padding: 1%;
    margin-top:25%;
    text-align: center;
    justify-content: center;
}

nav > a{

   margin-right: 5%;
}

footer > pre {
    text-align:right ;
    margin: 0;

}

p{
    color: white;
}

a{
    color: white;    
    text-decoration: underline;
}
